.Header {
  &__Nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    a {
      display: inline-flex;
      width: 200px;
      text-transform: uppercase;
      align-items: center;
      justify-content: center;

      &:link,
      &:visited,
      &:hover,
      &:active {
        color: #212121;
        cursor: pointer;
      }
    }
  }
}
