.Form {
  &__Section {
    background: lighten(#007bff, 45%);
    padding: 40px 20px;
  }

  &__H1 {
    font-weight: normal;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -20px;
  }

  &__Container {
    padding: 20px 0 20px 0;
  }

  &__Label {
    display: flex;
    padding-bottom: 10px;
  }

  &__Error {
    color: red;
    padding-top: 10px;
  }

  &__Input {
    height: 30px;
    min-width: 300px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    outline-style: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
    border-color: #888;
    border-style: solid;

    &:focus {
      border-radius: 5px;
      outline: none;
      outline-style: none;
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: transparent;
      border-color: #007bff;
      border-width: 2px;
      font-size: 20px;
    }
  }

  &__Button {
    padding: 10px;
    min-width: 300px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;

    &:not(:disabled) {
      background-color: #007bff;
      color: white;
      transition: background-color .2s ease;

      &:hover {
        background-color: darken(#007bff, 10%);
        transition: background-color .2s ease;
      }
    }
  }
}
